
@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div class="row  justify-content-center" id="view">
    <div class="col-12 row justify-content-center">
        <div class="card" style="width: 24rem;">
            <div class="card-body text-center ">
                <h5 class="card-title SansFor size48 m-5">{{showWord}}</h5>
                <div class="size24 mt-3">{{showPart}}</div>
                <div class="size24 mt-3">{{showChinese}}</div>
            </div>
        </div>
    </div>
    @*<div v-for="item in vocabularyList">
        <div>{{item.vID}}---{{item.word}}---{{item.chinese}}---</div>
    </div>

    @(ViewBag.UnitList)*@
    <div class="col-12">
        <div class="row justify-content-center">
            <button type="button" class="btn btn-primary m-2" v-on:click="back" :disabled="index==0">上一個</button>
            <button type="button" class="btn btn-primary m-2" v-on:click="next" :disabled="index==vocabularyList.length-1">下一個</button>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/vue")
<script>
    var uLink="@Html.Raw(ViewBag.UnitList)"
    init(uLink,'@Url.Action("List")');
</script>
